@use'../abstracts/variables';

/*-----------------
Base
-------------------*/
*::selection{
    background: var(--green);
    color: var(--white);
}

body{
    font-family: var(--font-poppins);
    background-color: var(--white);
    transition: background 0.2s linear;
    height: 120vh;
}

img {
    max-width: 100%;
}

a:link, a:visited {
	text-decoration: none;
}
