/*-----------------
Fonts
-------------------*/
$font-poppins: 'Poppins', sans-serif;
$font-Roboto: 'Roboto Condensed', sans-serif;

/*-----------------
Colors
-------------------*/
$green:#61f7c7;
$white:#ffff;
$gradient:linear-gradient(90deg, $green);   

