@charset "UTF-8";
:root {
  /*-----------------
  Fonts
  -------------------*/
  --font-poppins: "Poppins", sans-serif;
  --font-Oswald: "Oswald", sans-serif;
  /*-----------------
  Colors
  -------------------*/
  --greenA:#61f7c7;
  --greenB:#24cdd5;
  --white:#ffff;
  --black:#222427;
  --blackA:#212529;
  --blackB: rgba(0, 0, 0, 0.35);
  --gradientA:linear-gradient(90deg, var(--green));
  --gradientB:linear-gradient(80deg, rgb(21, 184, 102), rgb(66, 109, 64));
}

/*-----------------
Base
-------------------*/
*::selection {
  background: var(--green);
  color: var(--white);
}

body {
  font-family: var(--font-poppins);
  background-color: var(--white);
  transition: background 0.2s linear;
  height: 200vh;
}

img {
  max-width: 100%;
}

a:link, a:visited {
  text-decoration: none;
}

/*-----------------
Reset
-------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*-----------------
 HTML5 display-role reset for older browsers 
 ---------------*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/*-----------------
Sección del Menú
-------------------*/
.header {
  position: relative;
  transition: all 0.7s;
  z-index: 9;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 100%;
}
.menu__sticky {
  width: 100%;
  position: fixed;
  background-color: var(--blackA);
  box-shadow: 0 0.9rem 0.9rem -0.9rem var(--blackB);
}
.menu__side {
  width: 100%;
  position: fixed;
  background-color: transparent;
  box-shadow: 0 0.9rem 0.9rem -0.9rem var(--blackB);
}
.menu__logo {
  margin: 0;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  font-family: var(--font-poppins);
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.menu__text {
  margin: 0.3rem;
  line-height: 1rem;
  margin: 0.3rem;
  font-size: 0.8rem;
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__list__item {
  padding: 0.6rem;
  font-size: 1rem;
  font-family: var(--font-Oswald);
  color: var(--blackA);
  display: block;
  text-transform: uppercase;
  font-weight: 500;
}
.menu__list__item:hover {
  color: var(--greenB);
}

@media screen and (min-width: 0) {
  .menu {
    padding: 0 1.5rem;
  }
  .menu__logo {
    position: relative;
  }
  .menu__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    flex-direction: column;
    padding: 0 3.5rem;
  }
  .menu__list {
    display: flex;
  }
}
@media screen and (min-width: 900px) {
  .menu {
    flex-direction: row;
  }
}
.toggler {
  position: absolute;
  width: 1.8rem;
  top: 1.3rem;
  right: 2.5rem;
}
.toggler__span {
  display: block;
  background-color: var(--blackA);
  height: 0.2rem;
}
.toggler__span:nth-child(2) {
  margin: 0.3rem 0 0.3rem auto;
  width: 75%;
  transition: 0.3s all;
}
.toggler__span:nth-child(3) {
  margin-left: auto;
  width: 50%;
  transition: 0.6s all;
}
.toggler:hover > .toggler__span:nth-child(2), .toggler:hover > .toggler__span:nth-child(3) {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .toggler {
    display: none;
  }
}
.sidemenu {
  position: fixed;
  top: 0;
  right: 0;
  background: var(--gradientB);
  width: 100%;
  height: 100vh;
  z-index: 999;
  padding: 4rem;
  color: var(--white);
  transform: translate3d(100%, 0, 0);
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
}
.sidemenu__active {
  transform: translate3d(0, 0, 0);
}
.sidemenu__close {
  height: 2rem;
  width: 2rem;
  display: block;
  position: absolute;
  right: 1.3rem;
  top: 1.5rem;
}
.sidemenu__close::before, .sidemenu__close::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0.7rem;
  height: 1.8rem;
  width: 0.2rem;
  background: var(--white);
}
.sidemenu__close::before {
  transform: rotate(45deg);
}
.sidemenu__close::after {
  transform: rotate(-45deg);
}
.sidemenu__list {
  padding-top: 1.9rem;
}
.sidemenu__list__item {
  font-size: 1.3rem;
  color: var(--white);
  text-transform: uppercase;
}
.sidemenu__list__item:hover {
  color: var(--greenB);
}
.sidemenu__social {
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem;
}
.sidemenu__social__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  transition: all 0.3s linear;
  margin-right: 0.5rem;
  text-transform: uppercase;
}

#checkbox {
  opacity: 0;
  position: absolute;
}
#checkbox:checked ~ .mode__label .mode__ball {
  transform: translateX(24px);
}

.mode__label {
  width: 3rem;
  height: 1.6rem;
  background-color: var(--black);
  border-radius: 3rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}
.mode__ball {
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--white);
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.mode__dark {
  background-color: var(--black);
}
.mode__dark .menu__text {
  color: var(--white);
}
.mode__dark .sidemenu {
  background: var(--black);
}
.mode__dark .sidemenu__active {
  background: var(--black);
}
.mode__dark .menu__list__item {
  color: var(--white);
}
.mode__dark .menu__list__item:hover {
  color: var(--greenB);
}
.mode__dark .sidemenu__list__item {
  color: var(--white);
}
.mode__dark .sidemenu__list__item:hover {
  color: var(--greenB);
}
.mode__dark .toggler__span {
  background-color: var(--white);
}
.mode__dark .mode__label {
  background-color: var(--white);
}
.mode__dark .mode__ball {
  background-color: var(--black);
}

.modeside__label {
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--black);
  border-radius: 3rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  padding: 0;
}
.modeside__ball {
  width: 0.7rem;
  height: 0.7rem;
  background-color: var(--white);
  position: absolute;
  top: 0.21rem;
  left: 0.22rem;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.modeside__dark .modeside__label {
  background-color: var(--white);
}
.modeside__dark .modeside__ball {
  background-color: var(--black);
}

/*-----------------
@use Abstracts
-------------------*/
/*-----------------
@use Base
-------------------*/
/*-----------------
@use Components
-------------------*/

/*# sourceMappingURL=styles.css.map */
