@use'../../abstracts/variables';

.toggler{
    position: absolute;
    width: 1.8rem;
    top: 1.5rem;
    right: 2.5rem;

    &__span{
        display: block;
        background-color: var(--white);
        height: .2rem;
    }

    &__span:nth-child(2){
        margin: .3rem 0 .3rem auto;
        width: 75%;
        transition: 0.3s all;
    }

    &__span:nth-child(3){
        margin-left: auto;
        width: 50%;
        transition: 0.6s all;
    }

    &:hover > &__span:nth-child(2),
    &:hover > &__span:nth-child(3){
        width: 100%;
    }

}